:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  height: 80px;
}

nav .left a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
}

nav .right a {
  color: var(--text-color);
  margin: 0 10px;
}

nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}

nav .right a span {
  margin-left: 5px;
}

/* SECTION 1: Hero */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 40px;
}

.hero-section .text {
  flex: 5;
}

.hero-section .text h2 {
  font-size: 45px;
}

.hero-section .text .links {
  margin-top: 25px;
}

.hero-section .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: .1s;
}

.hero-section .text .links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.hero-section .headshot {
  flex: 2;
  display: flex;
  justify-content: right;
}

.hero-section .headshot img {
  width: 260px;
  border-radius: 80%;
}

/* SECTION 2: Skills */
.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
}

.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.contact-section h2 {
  font-size: 35px;
}

.contact-section .group {
  display: flex;
  gap: 50px;
}

.contact-section .group .text {
  flex: 3;
  margin-top: 20px;
}

.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
  font-family: 'Poppins', sans-serif;
  border: 2px solid var(--link-color);
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}

.contact-section .group form button {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: var(--link-color);
  border: none;
  height: 50px;
  cursor: pointer;
  transition: .1s;
}

.contact-section .group form button:hover {
  filter: brightness(.9);
}

@media (max-width: 850px) {
  /* SECTION 1: Hero */
  .hero-section .text h2 {
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  /* SECTION 1: Hero */
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section .headshot img {
    width: 300px;
  }



  /* SECTION 4: Contact */
  .contact-section .group {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  /* NAVBAR */
  nav {
    padding: 0 20px;
  }

  nav .right a {
    font-size: 22px;
  }

  nav .right a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a span {
    display: none;
  }

  /* SECTION 1: Hero */
  .hero-section {
    padding: 0 20px;
  }

  .hero-section .text h2 {
    font-size: 30px;
  }

  /* SECTION 2: Skills */
  .skills-section {
    padding: 0 20px;
  }

  .skills-section .cells .cell span {
    font-size: 16px;
  }

  .project-btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #0a0a0a;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.project-btn:hover {
    background-color: #1565c0;
}

.projects-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f9fa;
}

.project-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0)
}
}
/* Experience Section */
.experience-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f9fa;
}

.experience-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, #868686, #fdfdfd);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.experience-item {
  margin-bottom: 20px;
  text-align: left;
}

.experience-item h3 {
  font-size: 22px;
  color: #0e0e0e;
  margin-bottom: 5px;
}

.experience-item p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

.experience-item ul {
  list-style-type: disc;
  padding-left: 20px;
}

.experience-item ul li {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Certifications Section */
.certifications-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #ffffff;
}

.certification-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  background: linear-gradient(135deg, #e2e4e6, #656666);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.certification-item {
  margin-bottom: 20px;
  text-align: center;
}

.certification-item h3 {
  font-size: 20px;
  color: #151515;
  margin-bottom: 5px;
}

.certification-item a {
  font-size: 16px;
  color: #070707;
  text-decoration: none;
  font-weight: bold;
}

.certification-item a:hover {
  text-decoration: underline;
}

/* Contact Section */
.contact-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f9fa;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, #e2e4e6, #656666);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact Info */
.contact-info {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-info i {
  margin-right: 10px;
  color: #000000;
}

.contact-info a {
  text-decoration: none;
  color: #171718;
  font-weight: bold;
}

.contact-info a:hover {
  text-decoration: underline;
}



/* Projects Section */
.projects-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f9fa;
}

/* Main Container for Projects */
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #e2e4e6, #8f8f90);
  padding: 20px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 85%;
  max-width: 900px;
  margin: 20px auto;
}

/* Project Details Box */
.project-details {
  text-align: left;
  width: 100%;
}

/* Project Titles */
.project-details h3 {
  font-size: 22px;
  color: #161617;
  margin-bottom: 10px;
}

/* Project Description */
.project-details p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Button Styles */
.project-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
  font-size: 16px;
}

.project-btn:hover {
  background-color: #333;
}

/* Button Inside Anchor */
.project-btn button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.project-btn button:hover {
  color: #ddd;
}

/* Certifications Section */
.certifications-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f9fa;
}

/* Main Container for Certifications */
.certifications-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Individual Certification Box */
.certification-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
}

/* Certification Titles */
.certification-box h3 {
  font-size: 20px;
  color: #131313;
  margin-bottom: 10px;
}

/* Buttons (Same as Projects) */

.certifications-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
  font-size: 16px;
}
.certifications-btn button:hover {
  background-color: #423f3f;
}

.certification-logo{
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 10px;

}

/* Button Inside Anchor */
.certifications-btn button {
  background: none;
  border: none;
  color: rgb(14, 13, 13);
  font-size: 16px;
  cursor: pointer;
}

.certifications-btn button:hover {
  color: #ddd;
}